<!-- FILEPATH: /home/gabriel/Documents/Projects/meetingroom/app/views/users/login.html.erb -->

<h1>Login</h1>

<%= form_for @user, url: users_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

    <div>
        <%= f.submit "Log in" %>
    </div>
<% end %>
